<h1>Translate to German</h1>
<div>
	<ul>
		{% for item in doc.translations %}	
			{% set resultId = "result" + item.idx|string %}	
			{% set questionId = "question" + item.idx|string %}
			{% set inputId = "input" + item.idx|string %}	
			{% set correctAnswerId = "correctAnswer" + item.idx|string %}	
				<div id="{{ questionId }}">
				  <p> {{ loop.index }}. {{ item.english }} </p>
				  <input type="text" id="{{ inputId }}">
				  <button onclick="checkAnswer('{{ inputId }}', '{{ item.german }}', '{{ resultId }}', '{{ correctAnswerId }}' )">Submit</button>
				  <button onclick="showAnswer('{{ item.german }}', '{{ correctAnswerId }}' )">Show</button>
				  <button onclick="hideAnswer('{{ correctAnswerId }}' )">Hide</button>
				  <br>
				  <span id="{{ resultId }}"></span>
				  <span id="{{ correctAnswerId }}"></span>
				</div>
		{% endfor %}
	</ul>
</div>
<script>
	function checkAnswer(inputId, correctAnswer, resultId, correctAnswerId) {
	  var userInput = document.getElementById(inputId).value;
	  var resultElement = document.getElementById(resultId);
	  
	  if (userInput.trim().toLowerCase() === correctAnswer.toLowerCase()) {
		resultElement.textContent = "Correct";
		resultElement.style.color = "green";
		showAnswer(correctAnswer, correctAnswerId);
	  } else {
		resultElement.textContent = "Incorrect";
		resultElement.style.color = "red";
	  }
	}
	function showAnswer(correctAnswer, correctAnswerId) {
	  var correctAnswerElement = document.getElementById(correctAnswerId);
	  correctAnswerElement.textContent = correctAnswer;
	  correctAnswerElement.style.color = "blue";
	  correctAnswerElement.style.fontStyle = "italic"
	}
	function hideAnswer(correctAnswerId) {
	  var correctAnswerElement = document.getElementById(correctAnswerId);
	  correctAnswerElement.textContent = "";
	}
	</script>



	  
<!-- this is a sample default list template -->
