{% extends "templates/web.html" %}
{% block page_content %}
<h1>Translate to German</h1>
<div>
	<ul>
		{% for item in translations %}	
			{% set resultId = "result" + loop.index|string %}	
			{% set questionId = "question" + loop.index|string %}
			{% set inputId = "input" + loop.index|string %}	
			{% set correctAnswerId = "correctAnswer" + loop.index|string %}	
				<div id="{{ questionId }}">
					<br>
				<ul class="list-unstyled">
					<li> {{ loop.index }}. {{ item.english }} </li>
				 </ul>
				  <input type="text" class="form-control-sm" id="{{ inputId }}">
				  <button onclick="checkAnswer('{{ inputId }}', '{{ item.german }}', '{{ resultId }}', '{{ correctAnswerId }}' )" class="btn btn-primary">Submit</button>
				  <button onclick="showAnswer('{{ item.german }}', '{{ correctAnswerId }}' )" class="btn btn-primary">Show</button>
				  <button onclick="hideAnswer('{{ correctAnswerId }}' )" class="btn btn-primary">Hide</button>
				  <br>
				  <span id="{{ resultId }}"></span>
				  <span id="{{ correctAnswerId }}"></span>
				</div>
		{% endfor %}
		<br>
		<button onclick="checkScore('{{ translations|length }}')" class="btn btn-primary">Check Score</button>
		<span>&nbsp;&nbsp;</span>
		<span id="score"></span>
	</ul>
</div>
<script>
	function checkAnswer(inputId, correctAnswer, resultId, correctAnswerId) {
	  var userInput = document.getElementById(inputId).value;
	  var resultElement = document.getElementById(resultId);
	  
	  // first set the evaluation as Incorrect.
	  resultElement.textContent = "Incorrect";
	  resultElement.style.color = "red";
	  const correctAnswersArray = correctAnswer.split(',');
	  for (let i = 0; i < correctAnswersArray.length; i++) {
		console.log(correctAnswersArray[i])
		if (userInput.trim().toLowerCase() === correctAnswersArray[i].trim().toLowerCase()) {
			resultElement.textContent = "Correct";
			resultElement.style.color = "green";
			showAnswer(correctAnswer, correctAnswerId);
			break;
		} 
	  }
	}
	function showAnswer(correctAnswer, correctAnswerId) {
	  var correctAnswerElement = document.getElementById(correctAnswerId);
	  correctAnswerElement.textContent = correctAnswer;
	  correctAnswerElement.style.color = "blue";
	  correctAnswerElement.style.fontStyle = "italic"
	}
	function hideAnswer(correctAnswerId) {
	  var correctAnswerElement = document.getElementById(correctAnswerId);
	  correctAnswerElement.textContent = "";
	}
	function checkScore(translations_count) {
	  var correctCount = 0;
	  for (var i = 1; i <= translations_count; i++) {
            var spanContent = document.getElementById('result' + i).textContent;
            // Check if the span content is Correct or Incorrect and increment counters accordingly
            if (spanContent.trim() === "Correct") {
                correctCount++;
            }
        }
		// Display the score
		var scoreElement = document.getElementById('score');
		scoreElement.textContent = correctCount+"/"+translations_count;
	}
	</script>


{% endblock %}
	  
<!-- this is a sample default list template -->
